<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>about</title>
</head>
<body>
  <header>
    <div class="container">
      <img src="/img/logo.png" alt="Logo" class="logo">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/listPro">Product</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- Phần nội dung trang web -->
  <main style="text-align: center;margin-top: 40px">
    <h2>About Pages</h2>
    <p>Hello world!</p>
  </main>

</body>
<style>
    /* Reset CSS để loại bỏ các giá trị mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Định dạng phần header */
header {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

/* Container để căn giữa */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Định dạng logo */
.logo {
  width: 100px; /* Điều chỉnh kích thước của logo */
  height: auto;
}

/* Định dạng menu điều hướng */
nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav ul li a:hover {
  color: #555;
}

</style>
</html>
