<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Feedback</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<form action="/process-contact" method="post">
    <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Đánh Giá Feedback</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label>Chọn mức độ hài lòng:</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="feedback" id="satisfied" value="satisfied">
                <label class="form-check-label" for="satisfied">
                  Hài Lòng
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="feedback" id="unsatisfied" value="unsatisfied">
                <label class="form-check-label" for="unsatisfied">
                  Không Hài Lòng
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Gửi Đánh Giá</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</form>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
