<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank You</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4>Cảm Ơn!</h4>
          <h4>Sorry!</h4>
        </div>
        <div class="card-body">
          <p>Cảm ơn bạn đã gửi đánh giá của mình. Chúng tôi rất trân trọng sự phản hồi từ bạn.</p>
          <a href="index.html" class="btn btn-primary">Trang Chủ</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
