<h2>Tell Us About Yourself</h2>
<form action="/process-contac" method="post">
    <div>
        <label for="">
            Your name:
            <input name="name">
        </label>
    </div>
    <br>
    <div>
        <label for="">
            Your email:
            <input type="email" name="email">
        </label>
    </div>
    <br>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>