<!DOCTYPE html>
<html lang="en">
<head>
    <title>web development with Node and Express Example</title>
</head>
<style>
    body {
        background-color: black;
        color: white;
    }
</style>
<body>
    <h1>web development with Node and Express Example</h1>
    <hr />
    {{{body}}}
</body>
</html>